<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#!/budgetCalendrier" class="al-logo clearfix"><img
        ng-src="{{::( 'BudgetExpress_logo_RVB_Blanc.png' | budgetExpressImg )}}"
        ng-style="{ width : 154, height : 40 }" style="margin-left: -30px;">&nbsp;&nbsp;</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div><a class="page-top-nom-budget clearfix" href="/#!profile">{{budgetActif}}</a></div>
<!--
  <div class="search" ng-if="false">
      <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
      <input id="searchInput" ng-attr-type="text" placeholder="{{ 'GLOBALE.RECHERCHER' | translate }}...">
  </div>
-->
  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
        <a uib-dropdown-toggle
           class="profile-toggle-link"
           style="width: 80px; margin-left: -20px;">
        <span class="fa-stack fa-2x" style="margin-top: -6px;">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
        <i class="fa fa-angle-down fa-2x"></i>
        </a>
        <ul class="top-dropdown-menu profile-dropdown"
            uib-dropdown-menu
            style="right:-10px !important">
            <li><i class="dropdown-arr"></i></li>
            <li><a href="/#!profile"><i class="fa fa-user"></i>{{ 'ECRAN.PROFIL.TITRE' | translate }}</a></li>
            <li><a href="/#!banque"><i class="fa fa-bank"></i>{{ 'ECRAN.BANQUE.TITRE' | translate }}</a></li>
            <li><a><i class="ion-settings"></i>{{ 'GLOBALE.MENU_CONFIGURATION' | translate }}</a></li>
            <ul>
                <li style="list-style-type: none;"><a style="margin-left: -7px;" href="/#!posteBudgetaire">{{ 'ECRAN.POSTEBUDGETAIRE.TITRE_MENU' | translate }}</a></li>
                <li style="list-style-type: none;"><a style="margin-left: -7px;" href="/#!sousPosteBudgetaire">{{ 'ECRAN.SOUSPOSTEBUDGETAIRE.TITRE_MENU' | translate }}</a></li>
            </ul>
            <li ng-click="confirmClick(affQuitter,'warning',affSwitchOui,affSwitchNon,affAttention) && ctrl.quitterApplication()" confirm-click>
              <a href class="signout"><i class="fa fa-power-off"></i>{{ 'GLOBALE.QUITTER' | translate }}</a>
            </li>
        </ul>
    </div>
    <msg-center></msg-center>
  </div>

</div>
