<!--
 * @author S.Lizotte
-->
<div ba-panel ba-panel-class="posteBudgetaire-page">
  <div ng-init="getPosteBudgetaire()">
  <uib-accordion>
    <div style="margin-top:10px;" ng-repeat="categorie in categories">
      <uib-accordion-group is-open="false" panel-class="bootstrap-panel accordion-panel panel-default">
        <uib-accordion-heading>
          {{ categorie.nom | translate }}
          <div class="pull-right btn-group btn-group-xs">
            <button class="btn btn-default btn-xs" ng-click="$event.stopPropagation();$event.preventDefault();ajoutTransaction(categorie)" uib-tooltip="{{ 'GLOBALE.TOOLTIP.AJOUTER_TRANSACTION' | translate }}" >&nbsp;<i class="ion-android-more-vertical"></i>&nbsp;</button>
          </div>
        </uib-accordion-heading>
        <div class="row">
          <div class="col-md-12">
            <div class="add-row-editable-table">
              <button class="btn btn-primary" ng-click="ajoutPoste(categorie)">{{ 'GLOBALE.BOUTON.AJOUTER' | translate }}</button>
            </div>
              <table style="width: 100%; table-layout: fixed;" st-table="affPosteBudgetaires" st-safe-src="posteBudgetaires" class="table table-bordered table-hover table-condensed">
              <thead>
                  <tr class="sortable" style="font-weight: bold">
                    <th style="width:5%"></th>
                    <th style="width:30%" st-sort="trierAccent.nom" st-sort-default="true">{{ 'ECRAN.POSTEBUDGETAIRE.ENTETE_NOM' | translate }}</th>
                    <th style="width:x" st-sort="trierAccent.description">{{ 'ECRAN.POSTEBUDGETAIRE.ENTETE_DESCRIPTION' | translate }}</th>
                    <th style="width:170px"></th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="posteBudgetaire in affPosteBudgetaires | filter:{idCategorie: categorie.id}:true track by posteBudgetaire.id" class="editable-row">
                  <td style="word-wrap:break-word;">
                    <div ng-switch on="posteBudgetaire.typeImage" ng-show="rowform.$visible">
                       <a ng-switch-when="glossy" href="" uib-tooltip="{{ 'GLOBALE.TOOLTIP.MODIFIER_IMAGE' | translate }}" ng-click="modifierImage(posteBudgetaire,rowform)">
                         <img id="{{ 'imgPosteEdit-' + posteBudgetaire.id }}" e-name="image" e-form="rowform" ng-src="{{ ::posteBudgetaire.image | glossyBusinessImg }}" width="24" height="24">
                       </a>
                       <a ng-switch-default e-name="image" e-form="rowform" href="" uib-tooltip="{{ 'GLOBALE.TOOLTIP.MODIFIER_IMAGE' | translate }}" ng-click="modifierImage(posteBudgetaire,rowform)">...</a>
                    </div>
                    <div ng-switch on="posteBudgetaire.typeImage" ng-show="!rowform.$visible" >
                       <div ng-switch-when="glossy">
                         <img id="{{ 'imgPosteAff-' + posteBudgetaire.id }}" e-name="image" e-form="rowform" ng-src="{{ ::posteBudgetaire.image | glossyBusinessImg }}" width="24" height="24">
                       </div>
                       <span ng-switch-default e-name="image" e-form="rowform">&nbsp;</span>
                    </div>
                  </td>
                  <td style="word-wrap:break-word;">
                      <span editable-text="posteBudgetaire.nomFiltered" e-name="nom" e-form="rowform" e-ng-change="onChangeForm(rowform, $data)"  onbeforesave="valideNom($data)" e-required>
                        {{ posteBudgetaire.nom | translate }}
                      </span>
                  </td>
                  <td style="word-wrap:break-word;">
                      <span editable-text="posteBudgetaire.description" e-name="description" e-form="rowform" e-ng-change="onChangeForm(rowform, $data)">
                        {{ posteBudgetaire.description }}
                      </span>
                  </td>
                  <td>
                   <!-- blur="cancel" : Pour avoir une ligne à la fois-->
                   <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onbeforesave="enregistrePoste(posteBudgetaire, rowform)" onhide="onhide(rowform)" oncancel="oncancel(rowform)" shown="inserted == posteBudgetaire">
                     <button ng-attr-type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                       {{ 'GLOBALE.BOUTON.ENREGISTRER' | translate }}
                     </button>
                     <button ng-attr-type="button" ng-disabled="rowform.$waiting" ng-click="onCancelForm(posteBudgetaire,rowform)" class="btn btn-default editable-table-button btn-xs">
                       {{ 'GLOBALE.BOUTON.ANNULER' | translate }}
                     </button>
                   </form>
                   <div class="buttons" ng-show="!rowform.$visible">
                     <button class="btn btn-primary editable-table-button btn-xs" ng-click="modifierPoste(rowform)">{{ 'GLOBALE.BOUTON.MODIFIER' | translate }}</button>
                     <button class="btn btn-danger editable-table-button btn-xs" ng-click="confirmClick(affSupp,'warning',affSwitchOui,affSwitchNon,affAttention) && supprimePoste($index, posteBudgetaire, rowform)" confirm-click>{{ 'GLOBALE.BOUTON.SUPPRIMER' | translate }}</button>
                   </div>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
      </uib-accordion-group>

    </div>
<!--
    <uib-accordion-group is-open="false" heading="{{ 'PARAM.CATEGORIE.REVENUS' | translate }}" panel-class="bootstrap-panel accordion-panel panel-default">
      <div class="row">
        <div class="col-md-12">
          <div include-with-scope="app/pages/posteBudgetaire/widgets/posteBudgetaireGrilleEdit.html"></div>
        </div>
      </div>
    </uib-accordion-group>
    <uib-accordion-group heading="{{ 'PARAM.CATEGORIE.DEPENSES' | translate }}" panel-class="bootstrap-panel accordion-panel panel-default">
      <div class="row">
        <div class="col-md-12">
          <div include-with-scope="app/pages/posteBudgetaire/widgets/posteBudgetaireGrilleEdit.html"></div>
        </div>
      </div>
    </uib-accordion-group>
-->
  </uib-accordion>
</div>
