
.p-0 {
    padding: 0px;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.p-32 {
    padding: 32px;
}

.p-40 {
    padding: 40px;
}

/* padding-left */
.p-l-0 {
    padding-left: 0px;
}

.p-l-8 {
    padding-left: 8px;
}

.p-l-16 {
    padding-left: 16px;
}

.p-l-24 {
    padding-left: 24px;
}

.p-l-32 {
    padding-left: 32px;
}

.p-l-40 {
    padding-left: 40px;
}

/* padding-right */
.p-r-0 {
    padding-right: 0px;
}

.p-r-8 {
    padding-right: 8px;
}

.p-r-16 {
    padding-right: 16px;
}

.p-r-24 {
    padding-right: 24px;
}

.p-r-32 {
    padding-right: 32px;
}

.p-r-40 {
    padding-right: 40px;
}

/* padding-vertical */
.p-v-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.p-v-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p-v-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-v-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.p-v-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.p-v-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* padding-horizontal */
.p-h-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.p-h-8 {
    padding-right: 8px;
    padding-left: 8px;
}

.p-h-16 {
    padding-right: 16px;
    padding-left: 16px;
}

.p-h-24 {
    padding-right: 24px;
    padding-left: 24px;
}

.p-h-32 {
    padding-right: 32px;
    padding-left: 32px;
}

.p-h-40 {
    padding-right: 40px;
    padding-left: 40px;
}

.m-0 {
    margin: 0px;
}

.m-8 {
    margin: 8px;
}

.m-16 {
    margin: 16px;
}

.m-24 {
    margin: 24px;
}

.m-32 {
    margin: 32px;
}

.m-40 {
    margin: 40px;
}

/* margin-left */
.m-l-0 {
    margin-left: 0px;
}

.m-l-8 {
    margin-left: 8px;
}

.m-l-16 {
    margin-left: 16px;
}

.m-l-24 {
    margin-left: 24px;
}

.m-l-32 {
    margin-left: 32px;
}

.m-l-40 {
    margin-left: 40px;
}

/* margin-right */
.m-r-0 {
    margin-right: 0px;
}

.m-r-8 {
    margin-right: 8px;
}

.m-r-16 {
    margin-right: 16px;
}

.m-r-24 {
    margin-right: 24px;
}

.m-r-32 {
    margin-right: 32px;
}

.m-r-40 {
    margin-right: 40px;
}

/* margin-top */
.m-t-0 {
    margin-top: 0px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-t-16 {
    margin-top: 16px;
}

.m-t-24 {
    margin-top: 24px;
}

.m-t-32 {
    margin-top: 32px;
}

.m-t-40 {
    margin-top: 40px;
}

/* margin-vertical */
.m-v-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.m-v-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.m-v-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.m-v-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.m-v-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.m-v-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* margin-horizontal */
.m-h-0 {
    margin-right: 0px;
    margin-left: 0px;
}

.m-h-8 {
    margin-right: 8px;
    margin-left: 8px;
}

.m-h-16 {
    margin-right: 16px;
    margin-left: 16px;
}

.m-h-24 {
    margin-right: 24px;
    margin-left: 24px;
}

.m-h-32 {
    margin-right: 32px;
    margin-left: 32px;
}

.m-h-40 {
    margin-right: 40px;
    margin-left: 40px;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-divider {
    width: 4px;
    background-color: #c8c8c8;
}

.flex-align-content-horizontal-start {
    justify-content: flex-start;
}

.flex-align-content-horizontal-end {
    justify-content: flex-end;
}

.flex-align-content-horizontal-center {
    justify-content: center;
}

.flex-align-content-horizontal-space-between {
    justify-content: space-between;
}

.flex-align-content-horizontal-space-around {
    justify-content: space-around;
}

.flex-align-content-horizontal-space-evenly {
    justify-content: space-evenly;
}

flex-align-items-vertical-start {
    align-items: flex-start;
}

flex-align-items-vertical-end {
    align-items: flex-end;
}

flex-align-items-vertical-center {
    align-items: center;
}

flex-align-items-vertical-baseline {
    align-items: baseline;
}

flex-align-items-vertical-stretch {
    align-items: stretch;
}

flex-align-content-vertical-start {
    align-content: flex-start;
}

flex-align-content-vertical-end {
    align-content: flex-end;
}

flex-align-content-vertical-center {
    align-content: center;
}

flex-align-content-vertical-space-between {
    align-content: space-between;
}

flex-align-content-vertical-space-around {
    align-content: space-around;
}

flex-align-content-vertical-stretch {
    align-content: stretch;
}

.flex-5 {
    flex: 0.05;
}

.flex-10 {
    flex: 0.10;
}

.flex-15 {
    flex: 0.15;
}

.flex-20 {
    flex: 0.20;
}

.flex-25 {
    flex: 0.25;
}

.flex-30 {
    flex: 0.30;
}

.flex-33 {
    flex: 0.33;
}

.flex-35 {
    flex: 0.35;
}

.flex-40 {
    flex: 0.40;
}

.flex-45 {
    flex: 0.45;
}

.flex-50 {
    flex: 0.50;
}

.flex-55 {
    flex: 0.55;
}

.flex-60 {
    flex: 0.60;
}

.flex-65 {
    flex: 0.65;
}

.flex-66 {
    flex: 0.66;
}

.flex-70 {
    flex: 0.70;
}

.flex-75 {
    flex: 0.75;
}

.flex-80 {
    flex: 0.80;
}

.flex-85 {
    flex: 0.85;
}

.flex-90 {
    flex: 0.90;
}

.flex-95 {
    flex: 0.95;
}

.flex-100 {
    flex: 1;
}
