<div ba-panel ba-panel-class="form-horizontal">
    <form name="vm.budgetForm" novalidate
          ng-submit="vm.submitForm(vm.budgetForm.$valid, vm.budgetForm.$pristine, vm.budgetForm.$dirty, vm.budgetForm.$untouched)">
        <div class="flex flex-column">
            <cu-budgets action="vm.setBudget($budget)" budgets="vm.budgets"></cu-budgets>
            <div class="flex flex-column" ng-show="vm.budgetSelected.protege">
                <h3 class="with-line-top">{{ 'ECRAN.BUDGET.PARAMPWD' | translate }}</h3>
                <div class="flex">
                    <div class="flex-10"></div>
                    <div class="row flex-100">
                        <div class="col-md-3">

                            <div class="form-group row clearfix has-feedback"
                                 ng-class="{'has-error': vm.budgetForm.motPasse.$invalid && (vm.budgetForm.motPasse.$touched || vm.budgetForm.$submitted)}">
                                <label class="col-sm-4 control-label">
                                    {{'ECRAN.BUDGET.ACTPWD' | translate }}
                                </label>
                                <div class="col-sm-8">
                                    <input ng-attr-type="password" class="form-control" name="motPasse"
                                           ng-model="vm.valideAncienMP"
                                           match="vm.budgetSelected.motPasse" required>
                                    <span class="help-block error-block basic-block" ng-messages="vm.budgetForm.motPasse.$error">
                                        <p ng-message="required" ng-show="!vm.valideAncienMP || vm.valideAncienMP == ''">
                                            {{ 'GLOBALE.AIDE.OBLIGATOIRE' | translate }}
                                        </p>
                                        <p ng-message="match">
                                            {{ 'GLOBALE.AIDE.MOTPASSEACTUELMATCH' | translate }}
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'app/pages/priver/profile/widgets/nouveauBudget.html'"></div>

            <div class="flex flex-column">
                <h3 class="with-line-top">{{ 'ECRAN.OLD_TO_NEW_BUDGET.NOUVEAU_BUDGET_DEBUTERA' | translate }}</h3>
                <div class="flex">
                    <div class="flex-15"></div>
                    <div class="flex-column flex-100">
                        <div class="col-md-4">
                            <label class="radio-inline custom-radio nowrap">
                                <input ng-attr-type="radio" ng-model="vm.choixDateBudget" ng-value="1">
                                <span>{{ 'ECRAN.OLD_TO_NEW_BUDGET.NEW_BUDGET_OPT1' | translate }} {{vm.getDateNow()}}</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline custom-radio nowrap">
                                <input ng-attr-type="radio" ng-model="vm.choixDateBudget" ng-value="2">
                                <span>{{ 'ECRAN.OLD_TO_NEW_BUDGET.NEW_BUDGET_OPT2' | translate }} {{vm.getDateCurrentYear()}}</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline custom-radio nowrap">
                                <input ng-attr-type="radio" ng-model="vm.choixDateBudget" ng-value="3">
                                <span>{{ 'ECRAN.OLD_TO_NEW_BUDGET.NEW_BUDGET_OPT3' | translate }} {{vm.getDateNextYear()}}</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline custom-radio nowrap">
                                <input ng-attr-type="radio" ng-model="vm.choixDateBudget" ng-value="4">
                                <span>{{ 'ECRAN.OLD_TO_NEW_BUDGET.NEW_BUDGET_OPT4' | translate }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row clearfix has-feedback" ng-if="vm.choixDateBudget === 4">
                    <label class="col-sm-2 control-label">
                        {{ 'ECRAN.TRANSACTION.DATE_DEBUT' | translate }}
                    </label>                   
                    <div class="col-sm-2">
                        <div class="input-group"
                             style="margin-bottom: 0px;"
                             moment-picker="vm.dateDebut"
                             format="YYYY-MM-DD"
                             min-view="month"
                             max-view="month"
                             today="true"
                             locale={{vm.initialLocaleCode}}> 
                            <input next-focus class="form-control" style="padding-right: 5px;" name="dateDebut"
                                   ng-model="vm.dateDebut"
                                   ng-model-options="{ updateOn: 'blur' }" required>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        <span class="help-block error-block basic-block"
                              ng-messages="vm.dateDebut.$error"
                              ng-if="vm.dateDebut.$invalid && (vm.dateDebut.$touched || vm.$submitted)">
                            <p ng-message="required">{{ 'GLOBALE.AIDE.OBLIGATOIRE' | translate }}</p>
                        </span>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-100"></div>
                    <button ng-attr-type="submit" class="btn btn-primary btn-with-icon save-profile">
                        <i class="fa fa-clone"></i>{{ 'GLOBALE.BOUTON.NEW_BUDGET' | translate }}
                    </button>
                    <button class="btn save-profile" ng-click="vm.action()">
                        {{ 'GLOBALE.BOUTON.ANNULER' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
